VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
VITE_S3_PRESIGN_ENDPOINT=http://localhost:8787/presign

AWS_REGION=ap-south-1
S3_BUCKET=csg-images
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
PORT=8787
